<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/Login.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function Loginbutton() {
            var userID = document.getElementById('userID').value;
            
            if (userID === 'admin') {
                window.location.href = 'Mainpage.html'; 
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '로그인 실패',
                    text: '아이디가 admin이 아닙니다.'
                });
            }
        }
    </script>

</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form>
            <input type="text" placeholder="ID" id="userID">
            <br><br>
            <input type="password" placeholder="Password">
            <br><br>
            <input type="button" value="Login" onclick="Loginbutton()">
        </form>
    </div>

</body>
</html>
