<!DOCTYPE html>
<html>
<head>
  <title>Sign Up Example</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/styles/join.module.css">
</head>
<body>
  <div class="signup-container">
    <h1>회원가입</h1>
    <form id="signupForm">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="id">아이디:</label>
      <input type="text" id="id" name="id" required><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="password">비밀번호:</label>
      <input type="password" id="password" name="password" required><br><br>
      <label for="confirmPassword">비밀번호 확인:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="name">이름:</label>
      <input type="text" id="name" name="name" required><br><br>

      <button type="submit">가입</button>
    </form>

    <div id="message"></div>
  </div>

  <script>
    document.getElementById('signupForm').addEventListener('submit', async function(event) {
      event.preventDefault();

      const id = document.getElementById('id').value;
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirmPassword').value;
      const name = document.getElementById('name').value;

      if (id.includes('seller_') || id.includes('_')) {
            document.getElementById('message').innerText = 'ID에는 언더스코어(_)를 포함할 수 없습니다. 다시 입력해주세요.';
            return;
      }

      if (password !== confirmPassword) {
        document.getElementById('message').innerText = '비밀번호가 일치하지 않습니다.';
        return;
      }

      try {
        const response = await axios.post('/users/join', { id, password, name });
        console.log(response.data);
        Swal.fire({
          icon: 'success',
          title: '회원가입 성공!',
          confirmButtonText: '확인'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/login'; 
          }
        });
      } catch (error) {
        console.error('Sign Up error:', error);
        document.getElementById('message').innerText = '회원가입에 실패했습니다. 다시 시도해 주세요.';
      }
    });
  </script>
</body>
</html>