<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Single+Day&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap&subset=korean" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #mypage-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            color: white;
            padding: 10px 20px;
        }

        #mypage-header h1 a {
            color: white;
            text-decoration: none;
        }

        #user-info {
            text-align: right;
        }

        #user-info a {
            color: white;
            text-decoration: none;
            margin-left: 10px;
        }

        #mypage-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 20px;
        }

        .mypage-section {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .mypage-section h2 {
            font-family: 'Lobster', cursive;
            font-size: 24px;
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 5px;
        }

        #user-point {
            font-family: 'Single Day', sans-serif;
            font-size: 18px;
        }

        button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 14px;
            width: auto; 
            margin: 0 auto; 
            display: block; 
        }

        button:hover {
            background-color: #555;
        }

        .container {
            text-align: center;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center; 
        }

        .container img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .container img {
            width: 120px;
            height: 120px;
            margin-right: 20px;
        }

        .container input[type="button"] {
            width: 150px;
            height: 35px;
            margin-top: 35px;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;
        }

        .container input[type="button"]:hover {
            background-color: #555;
        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            box-sizing: border-box;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        .product-input {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .custom-button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 10px;
            transition: background-color 0.3s;
            width: auto;
        }

        .custom-button:hover {
            background-color: #555;
        }
    </style>

    <script>
         document.addEventListener('DOMContentLoaded', async () => {
            await updatePoint();
        });

        //포인트 숨겨주는 함수
        function hidePoint() {
            var items = ['point-1000', 'point-5000', 'point-10000' ,'point-hide'];
            items.forEach(function(id){
                document.getElementById(id).style.display = 'none';
            });
        }

        //숨겼던 포인트 보여주는 함수
        function showPointPurchase(content){
            var pointTitle = document.getElementById('point-title');
            var point1000 = document.getElementById('point-1000');
            var point5000 = document.getElementById('point-5000');
            var point10000 = document.getElementById('point-10000');
            var pointHide = document.getElementById('point-hide');

            pointTitle.style.display = 'none';       
            point1000.style.display = 'none';
            point5000.style.display = 'none';
            point10000.style.display = 'none';
            pointHide.style.display = 'none';

            if(content === 'show'){
                pointTitle.style.display = 'flex';
                point1000.style.display = 'flex';
                point5000.style.display = 'flex';
                point10000.style.display = 'flex';
                pointHide.style.display = 'flex';
            }
        }

        function buyPoint(amount) {
            const user = `{{user.name}}`;

            const url = `/charge?user=${user}&userval=${amount}`;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('서버에서 요청을 처리하지 못했습니다.');
                    }
                    return response.text();
                })
                .then(chargeResponseText => {
                        Swal.fire({
                            title: '포인트 구매 완료',
                            text: `구매한 포인트: ${amount}`,
                            icon: 'success',
                            showConfirmButton: false,
                        });
                    }).then((result) => {
                        setTimeout(() => {
                            location.reload();
                        }, 1500);
                    })
                .catch(error => {
                    console.error('포인트 구매 오류:', error);
                    Swal.fire({
                        title: '포인트 구매 오류',
                        text: '구매 과정에서 문제가 발생했습니다. 나중에 다시 시도해주세요.',
                        icon: 'error',
                        confirmButtonText: '확인'
                    });
                });
        }

        //보유 포인트
        async function updatePoint() {
             const name = `{{user.id}}`;
            try {
                const response = await axios.get(`/query?name=${name}`);
                const points = response.data;
                document.getElementById('user-point').innerText = `${points}` + ' point';

                const transactionsResponse = await axios.get(`/querypurchase?user=${name}`);
                
            } catch (error) {
                console.error('데이터 조회 에러:', error);
            }
        }

        //상품 숨겨주는 함수
        function hideproduct() {
            var items = ['product-name', 'product-price', 'product-number', 'brand-name', 'stock-amount', 'product-upload', 'product-hide'];
            items.forEach(function(id){
                document.getElementById(id).style.display = 'none';
            });
        }

        //숨겼던 상품 보여주는 함수
        function showProductUpload(content){
            var productName = document.getElementById('product-name');
            var productPrice = document.getElementById('product-price');
            var productNumber = document.getElementById('product-number');
            var brandName = document.getElementById('brand-name');
            var stockAmount = document.getElementById('stock-amount');
            var productUpload = document.getElementById('product-upload');
            var productHide = document.getElementById('product-hide');

            productName.style.display = 'none';
            productPrice.style.display = 'none';
            productNumber.style.display = 'none';
            brandName.style.display = 'none';
            stockAmount.style.display = 'none';
            productUpload.style.display = 'none';
            productHide.style.display = 'none';

            if(content === 'show'){
                productName.style.display = 'flex';
                productPrice.style.display = 'flex';
                productNumber.style.display = 'flex';
                brandName.style.display = 'flex';
                stockAmount.style.display = 'flex';
                productUpload.style.display = 'flex';
                productHide.style.display = 'flex';
            }
        }

        //로그아웃
        function logout() {
            var form = document.createElement('form');
            form.method = 'get';
            form.action = '/users/logout'; 
            document.body.appendChild(form);
            form.submit();
        }

    </script>
</head>
<body>
    <div id="mypage-header">
        <div>
            <h1><a href="/">5 panda</a></h1>
        </div>
        <div id="user-info">
            <h1>Welcome, {{ user.name }}!</h1>
            <a href="#" onclick="logout(); return false;">Logout</a>
        </div>
    </div>

    <div id="mypage-content">
        <div class="mypage-section">
            <h2>충전 내역</h2>
            <ul id="charge-list">
                <li>충전 내역 1</li>
                <li>충전 내역 2</li>
                <li>충전 내역 3</li>
            </ul>
        </div>
        
       <div class="mypage-section">
            <h2>거래 리스트</h2>
            <ul id="transaction-list">
            </ul>
        </div>
        
        <div class="mypage-section">
            <h2>{{ user.name }}님 포인트</h2>
            <p id="user-point">0 Point</p>
            <button onclick="showPointPurchase('show')">포인트 구매</button>
        </div>


    <!-- Hidden (포인트 구매) -->
    <div class="container">
         <div id="point-title" style="display: none;">
            충전시 10% 또는 15%로 포인트를 더 드립니다!
        </div>
        <div id="point-1000" style="display: none;">
            <img src="/mypage/KakaoTalk_20240702_140258676_02.png" alt="10000 포인트" class="money-image">
            <input type="button" value="10000포인트" onclick="buyPoint(10000)">
        </div>

        <div id="point-5000" style="display: none;">
            <img src="/mypage/KakaoTalk_20240702_140258676_01.png" alt="50000 포인트" class="money-image">
            <input type="button" value="50000포인트" onclick="buyPoint(50000)">
        </div>

        <div id="point-10000" style="display: none;">
            <img src="/mypage/KakaoTalk_20240702_140258676.png" alt="100000 포인트" class="money-image">
            <input type="button" value="100000포인트" onclick="buyPoint(100000)">
        </div>

        <div id="point-hide" style="display: none;">
            <input type="button" onclick="hidePoint()" value="닫기">
        </div>
</body>
</html>