body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-y: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

h1 {
    margin: 0;
}

.banner-categories a:hover {
    background-color: #555;
}

.banner-container {
    display: flex;
    animation: slide 15s linear infinite;
}


@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.banner-image {
    width: 33%; /* 6개의 이미지를 포함하므로 100% / 6 */
    height: auto;
    object-fit: cover;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.pagination {
    text-align: center;
    padding: 10px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.category-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.category-icon {
    width: 24px;
    height: 24px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #555;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.nav-buttons a {
    display: block;
    background-color: #777;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #888;
}
