body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.user-actions a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.banner img {
    width: 100%;
    height: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px; /* 원하는 고정 높이 */
    object-fit: contain; /* 이미지 크기에 맞게 조절 */
}

.pagination {
    text-align: center;
    padding: 10px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
